.step {
  width: 300px;
  margin: 10px;
}

.ingredient {
  width: 150px;
  margin: 10px;
}

.form-ingredients, .form-steps {
  width: 50%;
}

.add-ingredients {
  display: flex;
  margin: 10px;
}

.recipe-listing {
  margin: 0 auto;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
}

.recipe-detail {
  border: 1px solid black;
  width: 200px;
}
