body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 2em;
  font-weight: normal;
}

// hide important data for normal users that are not admins
.user {
  display: none;
}

.example-intro {
  margin-top: 60px;
}

.custom-form {
  .form-control {
    margin: 20px 0!important;
  }
}

.table-styles {
  box-shadow: 2px 2px 2px black;
  border: 2px solid black;
  width: 100%;
  th {
    background: #F8F8F8;
  }
  tr:nth-child(even) {
    background-color: #F8F8F8;
  }
  td {
    padding: 5px;
  }
  button {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

.custom-buttons {
  margin: 10px 10px 10px 10px;
  width: 200px;
  font-size: 0.9em;
  border-radius: 0;
  height: 50px;
}

.custom-add-btn {
  margin: 10px 0;
  width: 100px;
  border-radius: 0;
}

.form-container {
  margin: 0 auto;
  width: 75%;
}

.throw-form-error {
  box-shadow: 1px 1px 1px red;
  border: 1px solid red;
}

.ticket-form-container {
  width: 50%;
}

.success-message {
  color: green;
}

.table-header {
  margin-bottom: -12px;
}


@media (max-width: 600px) {
  .form-container {
    width: 100%;
    margin: 60px 0;
    padding: 10px;

    input, select {
        width: 82%;
    }
  }

  .custom-buttons {
    margin: 5px 1px;
    padding: 10px 2px;
    width: 107px;
    font-size: 0.8em;
  }
  .table-styles {
    width: 100%!important;
    box-shadow: 1px 1px 1px black;
    border: 0;
    th, td {
      font-size: .7em;
      vertical-align: center!important;
    }
    margin-bottom: 20px;
  }
  .page-header {
    margin: 70px 0 20px 0;
  }

  .table-header {
    margin-bottom: -12px;
  }

  .table-add-link {
    font-size: .7em;
    float:left;
  }
}
