.summary {
  height: 250px;
  width: 100%;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;

  .header {
    background: #A86633;
    padding: 0;
    margin: 0;
    color: black;

    h3 {
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }

  .income, .expenses, .net {
    h4, p{
      text-align: center;
    }
    height: 64px;
    border-bottom: 1px solid black;
  }
}

@media (max-width: 600px) {
  .summary {
    margin-bottom: 30px!important;
    margin: 0 auto;
    width: 90%;
  }
}
